<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    bootstrap="vendor/autoload.php" 
    colors="true"
    verbose="true" 
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    
>
    <testsuites>
        <testsuite name="Unit">
            <directory>Tests/Unit></directory>
        </testsuite>
    
        <testsuite name="Functional">
            <directory>Tests/Functional></directory>
        </testsuite>
    </testsuites>
    
    <php>
        <const name="PHPUNIT_RUNNING" value="true" />
    </php>
    
</phpunit>

<!-- stopOnFailure="true" -->
